// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

.input-row {
	position: relative;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	@include animate(border-color);

	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid $form-element-border-color;
	padding: $form-element-padding;
	background: $white;
	padding: 14px 50px 14px 20px;
	border-radius: 50px;
	border: 1px solid $white;
	position: relative;
	width: 100%;
	outline: none;

	@include media ('>=tablet') {
		padding: 25px 50px 25px 25px;
	}

	&:focus {
		border: 1px solid $form-element-focus-border-color;
	}

	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	@include animate(background);

	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	background: $blue;
	padding: 8px;
	border: none;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	font-size: 24px;
	color: $white;

	@include media ('>=tablet') {
		padding: 16px;
		right: 10px;
	}

	&:hover {
		background: darken($blue, 10);
	}

	i {
		display: block;
	}
}
