$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'xs-tablet': 650px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);


// ligatured operators ≥ ≤
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

h1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;

	@include media ('>=phone') {
		font-size: 50px;
	}

	@include media ('>=desktop') {
		font-size: 64px;
		line-height: 1.3;
	}
}

h2 {
	font-size: 36px;
	line-height: 1.2;

	@include media ('>=phone') {
		font-size: 42px;
	}

	@include media ('>=desktop') {
		font-size: 48px;
		line-height: 1.29;
	}
}

h3 {
	font-size: 26px;
	line-height: 1.2;
	font-weight: 600;

	@include media ('>=phone') {
		font-size: 34px;
	}

	@include media ('>=desktop') {
		font-size: 40px;
	}
}

h4 {
	font-size: 24px;
	line-height: 1.2;

	@include media ('>=phone') {
		font-size: 26px;
	}

	@include media ('>=desktop') {
		font-size: 32px;
	}
}

h5 {
	font-size: 18px;
	line-height: 1.27;

	@include media ('>=phone') {
		font-size: 20px;
	}

	@include media ('>=desktop') {
		font-size: 24px;
	}
}

h6 {
	font-size: 16px;
	line-height: 1.2;
}

br {

	@include media ('<desktop') {
		display: none;
	}
}

.highlighted-text {
	background: none;
	display: inline-block;
	color: $blue;
}

.logo {
	display: block;
	width: 124px;

	a, img {
		display: block;
	}

	a {
		font:700 32px/32px $base-font-sans-serif;
		color: $black500;
		text-decoration: none;
	}
}

.container {
	padding: 0 20px;

	@include media ('>=tablet') {
		padding: 0 30px;
	}

	@include media ('>=desktop') {
		max-width: 1278px;
		margin: 0 auto;
		padding: 0 40px;
		width: 100%;
	}
}

.btn {
	@include animate(background color border-color);

	display: block;
	font: 700 16px/20px $base-font-sans-serif;
	color: $white;
	text-align: center;
	text-decoration: none;
	background: $blue;
	border: 1px solid $blue;
	border-radius: 25px;
	padding: 8px 15px;

	&.transparent {
		background: none;
		color: $blue;
	}

	&:hover {
		background: darken($blue500, 5);
		border-color: $blue500;
		color: $white;
	}
}

.cta {
	@include animate(color text-shadow);
	position: relative;
	display: inline-block;
	padding: 0 20px 0 0;
	font-weight: 500;
	color: $blue;
	text-decoration: none;

	&:after {
		@include animate(border-color right);
		@include size(8px);

		content: '';
		border-right: 2px solid $blue;
		border-bottom: 2px solid $blue;
		position: absolute;
		top: 7px;
		right: 0;
		transform: rotate(-45deg);
	}

	&:before {
		@include animate(background right);
		@include size(12px, 2px);

		content: '';
		background: $blue;
		position: absolute;
		top: 10px;
		right: 0;
	}

	&:hover {
		color: $blue500;
		text-shadow: $blue 0 0 15px;

		&:after {
			border-color: $blue500;
			right: -2px;
		}

		&:before {
			background: $blue500;
			right: -2px;
		}
	}
}

.header {
	background: $light-blue;
	padding: 30px 0;
	position: relative;
	font-size: 26px;
	line-height: 24px;
	color: $white;
	z-index: 500;

	@include media ('>=tablet') {
		padding: 44px 0;
		font-size: 18px;
	}

	@include media ('>=desktop') {
		font-size: 20px;
	}

	.columns-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 20px;

		@include media ('>=desktop') {
			gap: 0 30px;
		}

		.left-column {

			@include media ('>=tablet') {
				width: calc(25% - 10px);
			}

			@include media ('>=desktop') {
				width: calc(26.29% - 15px);
			}
		}

		.right-column {

			@include media ('>=tablet') {
				width: calc(75% - 10px);
			}

			@include media ('>=desktop') {
				width: calc(73.71% - 15px);
			}
		}
	}

	.logo {
		position: relative;
		z-index: 9999;
	}

	#nav-bar {

		// active
		&.nav-active {

			.nav-opener {

				&:before {
					background: $blue;
					transform: translate(0, 5px) rotate(-135deg);
					width: 10px;
				}

				span {
					background: $blue;
					width: 0;
				}

				&:after {
					background: $blue;
					transform: translate(0, -4px) rotate(135deg);
					width: 10px;
				}
			}

			.nav-drop {
				top: 0;
				left: 0;
				opacity: 1;
				transition: top 0s 0s,
							left 0s 0s,
							opacity .2s 0s,
							transform .2s 0s;
			}
		}

		// blocks
		.nav-opener {
			@include animate(background);
			@include size(40px);

			position: relative;
			padding: 10px 12px;
			border: 1px solid $blue;
			border-radius: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2px 0;
			text-indent: -9999px;
			overflow: hidden;
			z-index: 9999;
			float: right;

			@include media ('>=tablet') {
				display: none;
			}

			&:before,
			&:after,
			& span {
				@include animate(background width transform);

				content: '';
				background: $blue;
				width: 100%;
				height: 1px;
			}
		}

		.nav-drop {

			@include media ('<tablet') {
				@include animate(opacity);
				@include size(100%);

				position: fixed;
				top: -99999px;
				left: -9999px;
				background: $light-blue;
				flex-direction: column;
				text-align: center;
				z-index: 9998;
				opacity: 0;
				overflow-x: hidden;
				overflow-y: auto;
				transition: top 0s .2s,
							left 0s .2s,
							opacity .2s 0s,
							transform .2s 0s;
			}
		}
	}

	.nav-drop {
		display: flex;
		align-items: center;
		justify-content: center;

		@include media ('>=tablet') {
			gap: 0 30px;
		}

		// list
		.list-block {
			@extend %listreset;

			margin: 0 0 50px;

			@include media ('>=tablet') {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc(63.71% - 15px);
				margin: 0;
			}

			li {

				@include media ('>=tablet') {
					margin: 0 10px;
				}

				@include media ('>=desktop') {
					margin: 0 15px;
				}
			}

			a {
				position: relative;
				display: block;
				padding: 20px;
				text-decoration: none;

				@include media ('>=tablet') {
					padding: 10px 0 5px;
				}

				&:before {
					@include animate(width, .2s);

					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 2px;
					background: $blue;
				}

				&:hover {

					&:before {
						width: 100%;
					}
				}
			}
		}

		// btns
		.btn-block {

			@include media ('>=tablet') {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 10px;
				width: calc(36.29% - 15px);
			}

			@include media ('>=desktop') {
				gap: 18px;
			}

			.btn {
				font-size: 20px;
				line-height: 1.2;
				padding: 13px 20px;
				margin: 0 0 20px;
				min-width: 150px;

				@include media ('>=tablet') {
					font: 700 16px/20px $base-font-sans-serif;
					padding: 8px 15px;
					min-width: unset;
					margin: 0;
				}

				@include media ('>=widescreen') {
					padding: 13px 20px;
					min-width: 122px;
					font-size: 20px;
					line-height: 1.2;
				}
			}
		}
	}
}

.intro-section {
	background: $light-blue;
	padding: 30px 0 0;
	line-height: 21px;

	@include media ('>=desktop') {
		padding: 0;
	}

	.columns-block {

		@include media ('>=xs-tablet') {
			display: flex;
			justify-content: space-between;
			gap: 0 30px;
		}

		.left-column {

			@include media ('>=xs-tablet') {
				width: calc(60% - 15px);
				max-width: 590px;
			}

			@include media ('>=tablet') {
				width: calc(51% - 15px);
			}
		}

		.right-column {

			@include media ('>=xs-tablet') {
				display: flex;
				width: calc(40% - 15px);
			}

			@include media ('>=tablet') {
				width: calc(49% - 15px);
			}
		}
	}

	.post-block {
		position: relative;
		z-index: 9;
		margin: 0 0 30px;

		@include media ('>=tablet') {
			margin: 20% 0;
		}

		@include media ('>=desktop') {
			margin: 105px 0 85px;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0 0 19px;
		}

		p {

			@include media ('>=desktop') {
				max-width: 420px;
			}
		}
	}

	.form-block {
		position: relative;
		z-index: 9;
		margin: 0 0 30px;

		@include media ('>=tablet') {
			margin: 0 0 25%;
		}

		@include media ('>=desktop') {
			margin: 0 0 105px;
		}
	}

	.img-block {
		max-width: 200px;
		margin: 0 auto;

		// @include media ('>=phone') {
		// 	position: relative;
		// 	margin: 35% 0 0;
		// }

		@include media ('>=xs-tablet') {
			position: relative;
			display: flex;
			align-items: flex-end;
			max-width: none;
			margin: 0 -50px 0;
		}

		@include media ('>=tablet') {
			margin: 0 -120px 0 -105px;
		}

		@include media ('>=1200px') {
			margin: 0 -120px 0 -105px;
		}

		.decoration-holder {
			display: none;

			@include media ('>=xs-tablet') {
				display: block;
				position: relative;
				bottom: -15px;
			}
		}

		.img-holder {
			display: none;

			// @include media ('>=phone') {
			// 	bottom: 0;
			// 	right: 0;
			// 	display: block;
			// 	max-width: 200px;
			// }

			@include media ('>=xs-tablet') {
				display: block;
				position: absolute;
				bottom: 0;
				left: calc(50% + 15px);
				transform: translateX(-50%);
				max-width: 520px;
				margin: 0 auto;
				width: 63%;
			}

			@include media ('>=widescreen') {
				margin: 0 auto -137px;
				max-width: 520px;
				width: 100%;
				z-index: 999;
			}
		}
	}

	.benefits-block {
		background: $blue;
		color: $white;
		position: relative;
		padding: 30px 0;

		@include media ('>=tablet') {
			padding: 15px 0;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}

		.columns-holder {
			text-align: center;
			margin: 0 -25px;

			@include media ('>=tablet') {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			@include media ('>=widescreen') {
				justify-content: flex-start;
			}
		}

		.column {
			position: relative;
			padding: 0 0 20px;
			margin: 0 0 20px;

			@include media ('>=tablet') {
				margin: 0 25px;
				padding: 0 40px 0 0;
			}

			&:last-child {
				padding: 0;

				@include media ('<tablet') {
					margin: 0;
				}
			}

			&:not(:last-child) {

				&:before {
					@include size(80px, 1px);

					content: '';
					position: absolute;
					background: $white;

					@include media ('>=tablet') {
						@include size(1px, 80px);

						content: '';
						position: absolute;
						top: 50%;
						right: 0;

						transform: translateY(-50%);
					}

					@include media ('<tablet') {
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}

			p {
				margin: 0;
			}
		}
	}
}

.consulting-specialists {
	padding: 30px 0;
	line-height: 21px;

	@include media ('>=tablet') {
		padding: 50px 0;
	}

	@include media ('>=desktop') {
		padding: 155px 0 65px;
	}

	.heading-holder {

		@include media ('>=tablet') {
			margin: 0 0 45px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;

		@include media ('>=desktop') {
			text-align: left;
		}
	}

	.columns-block {
		max-width: 400px;
		margin: 0 auto;
		text-align: center;

		@include media ('>=tablet') {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0 20px;
			max-width: none;
		}

		@include media ('>=desktop') {
			grid-template-columns: repeat(4, 1fr);
			text-align: left;
		}

		h5 {
			margin: 0 0 8px;
		}

		.column {
			border: 1px solid $black400;
			border-radius: 20px;
			padding: 15px;
			text-decoration: none;
			margin: 0 0 20px;

			@include media ('>=desktop') {
				padding: 38px 26px 21px;
			}

			&.active {
				background: $blue;
				border: 1px solid $blue;
				color: $white;
			}
		}

		.img-holder {
			@include size (92px);

			background: $light-blue;
			display: inline-block;
			border-radius: 45px;
			padding: 10px;
			position: relative;
			margin: 0 0 10px;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.our-advantages {
	padding: 30px 0;

	@include media ('>=tablet') {
		padding: 50px 0;
	}

	@include media ('>=desktop') {
		padding: 65px 0 150px;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		margin: 0 0 20px;

		@include media ('>=desktop') {
			text-align: left;
			margin: 0 0 38px;
		}
	}

	.columns-block {
		display: flex;
		flex-direction: column-reverse;

		@include media ('>=tablet') {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			gap: 0 20px;
		}

		@include media ('>=desktop') {
			gap: 0 30px;
		}
	}

	.img-column {

		@include media ('>=tablet') {
			width: calc(45% - 10px);
		}

		@include media ('>=desktop') {
			width: calc(45.49% - 15px);
		}

		.img-holder {
			border-radius: 20px;
			overflow: hidden;
			max-width: 530px;
			margin: 0 auto;

			@include media ('>=tablet') {
				margin: 0;
			}
		}
	}

	.post-column {
		margin: 0 0 30px;

		@include media ('>=tablet') {
			width: calc(55% - 10px);
			margin: 0;
		}

		@include media ('>=desktop') {
			width: calc(54.51% - 15px);
		}

		@include media ('>=desktop') {
			max-width: 590px;
		}

		.advantages-list {
			@extend %listreset;

			margin: 0 0 20px;

			@include media ('>=desktop') {
				margin: 0 0 40px;
			}

			li {
				position: relative;
				padding: 0 0 0 25px;
				margin: 0 0 12px;

				@include media ('>=desktop') {
					padding: 0 0 0 32px;
				}

				&:before {
					@include size(6px, 14px);

					content: '';
					border: 2px solid $blue;
					border-top-color: transparent;
					border-left-color: transparent;
					position: absolute;
					top: 2px;
					left: 6px;
					transform: rotate(37deg);

					@include media ('>=desktop') {
						@include size(8px, 18px);

						top: 0;
						margin-top: -2px;
					}
				}
			}
		}
	}
}

.reviews-section {
	background: $light-blue;
	padding: 30px 0;
	line-height: 1.25;

	@include media ('>=tablet') {
		padding: 50px 0;
	}

	@include media ('>=desktop') {
		padding: 155px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 20px;

		@include media ('>=desktop') {
			margin: 0 0 23px;
		}
	}

	.columns-block {

		@include media ('>=tablet') {
			display: flex;
			justify-content: space-between;
		}
	}

	.left-column {
		margin: 0 0 30px;

		@include media ('>=tablet') {
			width: calc(49.58% - 15px);
			margin: 0;
		}

		.post-block {
			text-align: center;

			@include media ('>=desktop') {
				text-align: left;
			}
		}

		.peoples-block {
			margin: 20px 0 0;
			text-align: center;

			@include media ('>=tablet') {
				margin: 35px 0 0;
				display: flex;
				align-items: center;
				gap: 0 15px;
				text-align: left;
			}

			@include media ('>=desktop') {
				gap: 0 30px;
			}
		}

		.people-list {
			@extend %listreset;

			display: flex;
			justify-content: center;
			margin: 0 0 10px;

			@include media ('>=desktop') {
				justify-content: flex-start;
				margin: 0;
			}

			li {
				@include animate(width);

				width: 52px;


				&:not(:first-child) {
					margin: 0 0 0 -18px;
				}

				&:hover {
					// width: 65px;
				}
			}
		}

		.count-reviews {
			display: inline-block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.right-column {

		@include media ('>=tablet') {
			width: calc(50.42% - 15px);
		}

		.review-box {
			background: $white;
			padding: 25px;
			border-radius: 20px;
			border: 1px solid #A8A8A8;
			line-height: 1.3;

			@include media ('>=widescreen') {
				padding: 50px 45px 75px 50px;
			}

			.top-block {
				margin: 0 0 20px;

				@include media ('>=desktop') {
					display: flex;
					justify-content: space-between;
					gap: 0 20px;
					margin: 0 0 40px;
				}
			}

			.info-reviewer {
				display: flex;
				gap: 0 20px;

				@include media ('>=widescreen') {
					gap: 0 20px;
				}
			}

			.ico-holder {
				width: 52px;
			}

			.info-holder {
				margin: 5px 0 0;
				font-size: 12px;

				.name {
					display: block;
					font-size: 16px;
					font-weight: 600;
					margin: 0 0 3px;
				}
			}

			.star-list {
				@extend %listreset;

				display: flex;
				gap: 0 6px;
				margin: 7px 0 0;
			}

			.bottom-block {
				margin: 0 0 -1em;
			}
		}
	}
}

.about_future-section {
	padding: 30px 0;
	line-height: 1.31;

	@include media ('>=tablet') {
		padding: 50px 0;
	}

	@include media ('>=desktop') {
		padding: 150px 0 75px;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;

		@include media ('>=desktop') {
			margin: 0 0 25px;
			text-align: left;
		}
	}

	p {
		margin: 0 0 .63em;
	}

	.columns-block {

		@include media ('>=tablet') {
			display: flex;
			justify-content: space-between;
			gap: 0 20px;
		}

		@include media ('>=desktop') {
			gap: 0 30px;
		}
	}

	.left-column {
		margin: 0 0 30px;

		@include media ('>=tablet') {
			width: calc(50% - 10px);
			margin: 0;
		}

		@include media ('>=desktop') {
			width: calc(43.16% - 15px);
		}

		.cta-holder {
			margin: 27px 0 0;
		}
	}

	.right-column {

		@include media ('>=tablet') {
			width: calc(50% - 10px);
		}

		@include media ('>=desktop') {
			width: calc(56.84% - 15px);
		}

		.img-holder {
			border-radius: 20px;
			overflow: hidden;
			max-width: 530px;
			margin: 0 auto;

			@include media ('>=tablet') {
				max-width: none;
				margin: 0;
			}
		}
	}
}

.form-section {
	padding: 30px 0;
	color: $white;

	@include media ('>=tablet') {
		padding: 50px 0;
	}

	@include media ('>=desktop') {
		padding: 75px 0 150px;
	}

	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		margin: 0 0 40px;
	}

	.form-wrapper {
		background: $blue;
		padding: 40px 15px;
		border-radius: 20px;
		overflow: hidden;

		@include media ('>=desktop') {
			padding: 95px 30px 85px;
		}
	}

	.form-block {
		max-width: 956px;
		margin: 0 auto;

		input[type='text'],
		input[type='tel'],
		input[type='email'],
		input[type='search'],
		input[type='password'],
		//input[type='url'],
		// input[type='date'],
		textarea {
			border: 1px solid $white;
			color: $dark-blue500;

			@include media ('>=tablet') {
				padding: 27px 50px 27px 25px;
				font-size: 20px;
			}

			&:focus {
				border: 1px solid $white;
			}
		}

		button,
		input[type='button'],
		input[type='reset'],
		input[type='file'],
		input[type='submit'] {
			@include size(40px);

			@include media ('>=tablet') {
				@include size(55px);

				right: 18px;
			}

			i {
				position: relative;

				&:after {
					@include animate(border-color);
					@include size(8px);

					content: '';
					border-right: 2px solid $white;
					border-bottom: 2px solid $white;
					position: absolute;
					top: 50%;
					right: calc(50% - 10px);
					transform: translate(-50%, -50%) rotate(-45deg);
				}

				&:before {
					@include animate(background);
					@include size(12px, 2px);

					content: '';
					background: $white;
					position: absolute;
					top: 50%;
					right: calc(50% - 10px);
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

#footer {
	background: $blue;
	padding: 30px 0;
	line-height: 21px;
	color: $white;

	@include media ('>=desktop') {
		padding: 100px 0;
	}

	a {
		text-decoration: none;
		color: $white;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin: 0 0 20px;
	}

	.columns-block {
		display: flex;
		// justify-content: space-between;
		flex-wrap: wrap;
		gap: 0 20px;

		@include media ('>=desktop') {
			flex-wrap: nowrap;
			gap: 0 30px;
		}
	}

	.column {
		margin: 0 0 30px;

		@include media ('>=desktop') {
			margin: 0;
		}

		&:first-child {
			width: 100%;

			@include media ('>=desktop') {
				width: calc(43.4% - 15px);
			}
		}

		&:nth-child(2n) {

			@include media ('>=phone') {
				width: calc(45% - 10px);
			}

			@include media ('>=desktop') {
				width: calc(24.3% - 15px);
			}
		}

		&:last-child {
			margin: 0;

			@include media ('>=phone') {
				width: calc(55% - 10px);
				max-width: 364px;
			}

			@include media ('>=desktop') {
				width: calc(31.85% - 15px);
			}
		}

		.title-holder {
			margin: 0 0 20px;

			@include media ('>=desktop') {
				margin: 0 0 34px;
			}
		}

		.post-block {
			max-width: 600px;

			@include media ('>=desktop') {
				max-width: 360px;
			}
		}

		.links-list {
			@extend %listreset;

			li {
				margin: 0 0 6px;
			}
		}

		.img-holder {
			max-width: 364px;
		}
	}
}